body {
    background-color: #f8f8f8;
}

.head {
    position: fixed;
    width: 100vw;
    left: 0px;
    top: 0px;
}

.header {
    background-color: #D33848;
    position: absolute;
    width: 100vw;
    left: 0px;
    top: 0px;
    padding-left: 10px;
}

.search {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80vw;
    top: 37.98%;
}

.menu {
    position: absolute;
    left: 90vw;
    right: 0%;
    top: 37.98%;
    bottom: 19.03%;
    width: 24px;
    height: 24px;
}

.profile-pic {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 15.47vh;
    left: calc(1/2 * (100vw - 130px));
}

.pro-pic {
    position: absolute;
    border-radius: 10em;
}

.name {
    position: absolute;
    width: 100vw;
    height: 28px;
    top: 35vh;
    text-align: center;
    font-family: 'Epilogue';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    text-align: center;
}

.username {
    position: absolute;
    width: 100vw;
    height: 20px;
    top: 38vh;
    text-align: center;
    font-family: 'Epilogue';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    text-align: center;
}

.follows {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.following {
    position: absolute;
    width: 128px;
    height: 20px;
    left: calc(1/2 * (100vw - 230px));
    top: 42vh;
    font-family: 'Epilogue';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    text-align: center;
}

.followers {
    position: absolute;
    width: 128px;
    height: 20px;
    right: calc(1/2 * (100vw - 230px));
    top: 42vh;
    font-family: 'Epilogue';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    text-align: center;
}

.info {
    position: absolute;
    width: calc((91.47 / 100) * 100vw);
    height: 292.93px;
    left: calc(1/2 * ((8.53 / 100) * 100vw));
    top: 430px;
    background-color: #a3deeb;
    border-radius: 32px;
}

.phone {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 4vh;
    left: 5vw;
}

.mobile {
    position: absolute;
    width: 100vw;
    height: 20px;
    top: 4vh;
    left: 15vw;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.location {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 9vh;
    left: 5vw;
}

.city {
    position: absolute;
    width: 100vw;
    height: 20px;
    top: 9vh;
    left: 15vw;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}